@media (min-width: 576px) and (max-width: 767.98px){
    img{
        width: 20px;
        height: 10px;
    }
}
@media (min-width: 768px){
    img{
        width: 20px;
        height: 10px;
    }
}
@media (max-width: 991.98px){
    figure{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        padding-top: 10rem;
    }
    
    
    img{
        width: 30rem;
        height: 10rem;
        
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    p{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    a{
        text-decoration: inherit;
        color: black;
        padding: 1rem;
        margin: 1rem;
        border-style: dashed;
        border-color: aqua;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding-top: 10rem;
}


img{
    width: 30rem;
    height: 10rem;
    
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: inherit;
    color: black;
    padding: 1rem;
    margin: 1rem;
    border-style: dashed;
    border-color: aqua;
}
}
